{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
  {% if category %}
      {{ category.description|truncatewords:155}}
  {% else %}
       welcome to ABC store where you can buy different items....
  {% endif %}
{% endblock %}

{% block title %}
  {% if category %}
     {{ category.name}}- ALBINOS STORE
  {% endif %}
{% endblock %}

{% block content %}
  {% if category %}
     <div>
       <div class="row my_row_class">
           <div class="mx-auto">
         <p><a href ="{% url 'shopapp:allProdCat' %} our product collections"></a></p>
       </div>
         </div>
     </div>
  {% endif %}
<div class="mx-auto">
  {% if category %}
  <img class="my_image" src="{{category.image.url}}" alt="{{ category.name}}">
</div>
<br>
<div>
  <h1 class="text-center my_title">{{category.name}}</h1>
   <p class="text-justify">{{category.description}}</p>
</div>
 {% else %}
<div>
  <img class="my_image my_image_padding" src="{% static 'img/banner1.png' %}" alt="our products" width="1250px;" height="400px;">
</div>
<br>
<div>
  <h1 class="text-center my_title">our products collections</h1>
  <p class="text-justify"> FreshToHome is an online platform that delivers fresh, chemical-free seafood, meat, and poultry to your doorstep. The company is based in India and was founded in 2015 by Shan Kadavil. The aim of the company is to revolutionize the way seafood, meat, and poultry are consumed in India by providing customers with fresh and chemical-free products that are sourced directly from farmers and fishermen.

One of the most notable features of FreshToHome is its commitment to providing chemical-free and antibiotic-free meat and seafood products. The company sources its products directly from farmers and fishermen who use traditional farming and fishing methods. This means that the products are free from harmful chemicals and antibiotics that are commonly used in conventional farming and fishing practices. This commitment to delivering high-quality, chemical-free products is a major selling point for FreshToHome, and it sets the company apart from other online grocery platforms.

</p>
</div>
{% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margi col-9 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:18rem">
            <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
            <div class="card-body">
                <h4>{{product.name}}<</h4>
                <p>{{product.price}}</p>
            </div >
                </div>

        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1%}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm" {% if products.number == pg %} active {% endif %}>{{pg}}</a>
        {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>'
</div>
{% endblock %}
